@import "../../../assets/variables";

.model {
  &__option {
    margin-bottom: 32px;
  }
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  border-collapse: collapse;

  @media (max-width: $max-tablet) {
    justify-content: center;
  }

  &__car {
    width: 340px;
    height: 200px;
    cursor: pointer;
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $clr-gray-light;

    &:hover {
      border: 1px solid $clr-gray-dark;
    }

    &:active {
      border: 1px solid $clr-main-accent;
    }
  }

  &__car-title {
    h4 {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      color: $clr-gray-dark;
    }
  }

  &__car-img {
    align-self: flex-end;
    width: 260px;
  }
}
