@import "../../../assets/variables";

.side-drawer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #151b1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;
  transition: all 0.5s ease 0s;

  @media (max-width: $max-mobile) {
    display: block;
  }

  &--open {
    left: 0;
  }

  &--show-slider {
    width: calc(50% + 36px);

    @media (max-width: $max-tablet) {
      width: 100%;
    }
  }

  &__navigation {
    margin-left: 110px;

    @media (max-width: $max-mobile) {
      margin: 64px 28px;
    }
  }

  &__navigation-items {
    list-style: none;
    padding: 0;
  }

  &__navigation-item {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 50px;

    &:hover {
      color: $clr-main-accent;
    }

    @media (max-width: $max-mobile) {
      font-size: 22px;
    }
  }

  &__social-items {
    margin-top: 30px;

    svg {
      margin-right: 24px;
      cursor: pointer;
      fill: white;

      &:hover {
        fill: $clr-main-accent;
      }
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background: rgb(21, 27, 31);
    opacity: 0;
    z-index: 7;
    transition: opacity 0.5s ease 0s;

    &--active {
      width: 100vw;
      opacity: 0.81;
    }
  }
}
