@import "../../../assets/variables";

.side-drawer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #151b1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;

  @media (max-width: $max-mobile) {
    display: block;
  }

  &--show-slider {
    width: calc(50% + 36px);

    @media (max-width: $max-tablet) {
      width: 100%;
    }
  }

  &__navigation {
    margin-left: 110px;

    @media (max-width: $max-mobile) {
      margin: 64px 28px;
    }
  }

  &__navigation-items {
    list-style: none;
    padding: 0;
  }

  &__navigation-item {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 50px;

    &:hover {
      color: $clr-main-accent;
    }

    @media (max-width: $max-mobile) {
      font-size: 22px;
    }
  }

  &__social-items {
    margin-top: 30px;
  }

  &__social-item {
    margin-right: 24px;
    cursor: pointer;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(21, 27, 31, 0.81);
  z-index: 7;
}
