@import '../../assets/variables';

.order-page {
  background-color: #fff;
  padding: 32px 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  @media (max-width: $max-laptop) {
    padding: 32px;
  }
  @media (max-width: $max-mobile) {
    padding: 0;
    display: block;
  }
}