@import '../config';

.main-content{
  background-color: #fff;
  padding: 32px 64px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.header{
  display: flex;
  justify-content: space-between;
  &__logo{
    font-size: 30px;
    font-weight: bold;
    color: $clr-main-accent;
  }
  &__location{
    font-size: 14px;
    display: flex;
    align-items: center;
    color: $clr-gray-dark;
  }
}

.hero-block{
  display: flex;
  flex-direction: column;
  &__title{
    font-size: 70px;
    font-weight: bold;
    color: black;
    line-height: 68px;
    span{
      color: $clr-main-accent;
    }
  }
  &__subtitle{
    margin-top: 26px;
    font-size: 26px;
    color: $clr-gray-dark;
  }
  .button{
    height: 48px;
    width: 250px;
    background-image: linear-gradient(to right, $clr-main-accent 0%, #039F67 100%);
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin: 60px 0;
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  &__copyright{
    color: $clr-gray-dark;
  }
  &__number{
  }
}