@import '../../../assets/variables';

.main-content {
  background-color: #fff;
  padding: 32px 64px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;

  &__hero-block {
    margin-bottom: 60px;
  }

  @media (max-width: $max-tablet) {
    flex: 0 1 100%;
  }

  @media (max-width: $max-laptop) {
    padding: 32px;
  }

  @media (max-width: $max-mobile) {
    padding: 0;
    display: block;
  }
}

.hero-block {
  display: flex;
  flex-direction: column;

  @media (max-width: $max-mobile) {
    button {
      width: 100%;
      height: 54px;
      border-radius: 0;
    }
  }

  &__title {
    font-size: 70px;
    font-weight: bold;
    color: black;
    line-height: 70px;

    @media (max-width: $max-mobile) {
      font-size: 38px;
      line-height: 44px;
      margin: 16px;
    }

    span {
      color: $clr-main-accent;
    }
  }

  &__subtitle {
    margin-top: 26px;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 26px;
    color: $clr-gray-dark;

    @media (max-width: $max-mobile) {
      font-size: 18px;
      margin: 0 16px 32px 16px;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;

  &__copyright {
    color: $clr-gray-dark;
  }

  &__number {
    text-decoration: none;
    color: $clr-main-black;

    &:hover {
      color: $clr-main-accent;
    }
  }

  @media (max-width: $max-mobile) {
    position: absolute;
    bottom: 0;
    height: 72px;
    background-color: #151B1F;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 16px;
    width: 100%;

    &__number {
      color: $clr-main-accent;
    }

    &__copyright {
      color: #EEEEEE;
    }
  }
}