@import '../../../styles/variables';

.main-content{
  background-color: #fff;
  padding: 32px 64px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  &__hero-block{
    margin-bottom: 60px;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  &__logo{
    font-size: 30px;
    font-weight: bold;
    color: $clr-main-accent;
  }
  &__location{
    display: flex;
    align-items: center;
  }
  &__location-city{
    margin-left: 8px;
    font-size: 14px;
    color: $clr-gray-dark;
  }
}

.hero-block{
  display: flex;
  flex-direction: column;
  &__title{
    font-size: 70px;
    font-weight: bold;
    color: black;
    line-height: 70px;
    span{
      color: $clr-main-accent;
    }
  }
  &__subtitle{
    margin-top: 26px;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 26px;
    color: $clr-gray-dark;
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  &__copyright{
    color: $clr-gray-dark;
  }
  &__number{
    text-decoration: none;
    color: $clr-main-black;
    &:hover{
      color: $clr-main-accent;
    }
  }
}