@import '../../../assets/variables';

.addition {
  &__item {
    margin-bottom: 32px;
  }

  &__title {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
  }

  &__filter {
    display: flex;
    color: $clr-gray-dark;
    margin-bottom: 32px;
  }

  &__filter-tarif {
    display: flex;
    flex-direction: column;
    .addition__filter-item {
      margin-bottom: 8px;
      margin-right: 0;
    }
  }

  &__filter-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 16px;
    }

    input {
      margin-right: 6px;
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;

      & + label {
        display: flex;
        align-items: center;

        &::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          border: 1px solid $clr-gray-dark;
          border-radius: 100%;
          margin-right: 6px;
        }
      }

      &:checked + label {
        color: $clr-main-black;

        &::before {
          width: 8px;
          height: 8px;
          border: 3px solid $clr-main-accent;
          border-radius: 100%;
        }
      }
    }
  }

  &__input-items {
    width: 216px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: $max-mobile) {
      margin-bottom: 8px;
    }
  }

  &__input-item {
    margin-bottom: 12px;

    input {
      width: 180px;
      color: $clr-main-black;
      font-weight: 300;
      margin-left: 8px;
      border: none;
      border-bottom: 1px solid $clr-gray-dark;

      &:focus {
        outline: none;
        border-bottom: 1px solid $clr-gray-dark;
      }

      &::placeholder {
        color: $clr-gray-dark;
        font-weight: 300;
      }
    }

    img {
      position: relative;
      left: -14px;
    }
  }
}