@import "../../../assets/variables";

.location {
  display: flex;
  flex-direction: column;

  &__form {
    margin-bottom: 16px;
  }

  &__map {
    margin-top: 16px;
    max-width: 730px;
    width: 100%;

    @media (max-width: $max-mobile) {
      margin-top: 8px;
    }
  }
}
