@import '../../../assets/variables';

.slider{
  flex: 0 1 50%;
  display: flex;
  position: relative;
  overflow: hidden;
  &__control{
    cursor: pointer;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    width: 64px;
    min-width: 64px;
    z-index: 1;
    &:hover{
      background-color: rgba(14, 194, 97, 0.2);
    }
    @media (max-width: $max-laptop) {
      width: 32px;
      min-width: 32px;
    }
  }
  &__content-wrapper{
    align-self: center;
    padding: 32px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
  }
  &__dots{
    position: absolute;
    bottom: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__dot{
    cursor: pointer;
    width: 9px;
    height: 9px;
    margin-right: 9px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 250ms;
    &--active{
      background-color: $clr-main-accent;
    }
  }
}