$clr-main-accent: #0EC261;
$clr-main-black: #121212;
$clr-main-blue: #007BFF;
$clr-blue-dark: #3D5170;
$clr-gray-dark: #999999;
$clr-gray-light: #EEEEEE;
$clr-background-admin: #F5F6F8;

$min-mobile: 320px;
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1023px;
$min-laptop: 1024px;
$max-laptop: 1439px;
$min-desktop: 1440px;