@import "assets/variables";
@import "assets/fonts";

* {
  box-sizing: border-box;
  margin: 0;
}

.app-wrapper {
  overflow: auto;
  display: flex;
  min-height: 100vh;
  width: 100%;
  color: $clr-gray-light;
  font-family: Roboto, sans-serif;
}
