@import "../../../assets/variables";

.cars-table {
  padding: 14px;

  &__filter {
    display: flex;
    justify-content: space-between;
  }

  &__filter-items {
    display: flex;
  }

  &__filter-buttons {
    display: flex;
  }

  &__filter-button {
    margin-left: 14px;
  }
}