@import "../../../assets/variables";

.cars-table {
  padding: 7px 14px 14px 14px;

  @media (max-width: $max-mobile) {
    padding: 7px;
  }

  &__filter {
    justify-content: space-between;
    display: none;

    @media (max-width: $max-mobile) {
      display: flex;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__filter-items {
    display: flex;

    @media (max-width: 600px) {
      margin-bottom: 7px;
    }
  }

  &__filter-buttons {
    display: flex;
  }

  &__filter-button {
    margin-right: 9px;
  }

  &__content {
    margin: 14px 0;
    display: flex;
    justify-content: center;
  }

  table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  table caption {
    font-size: 14px;
    margin: .5em 0 .75em;
  }

  table tr {
    padding: .35em;
    border: 1px solid #fff;
  }

  tbody tr {
    &:nth-child(2n + 1) {
      background-color: #F9FAFC;
    }
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table td {
    color: #818EA3;
    font-size: 13px;
  }

  table th {
    font-size: 14px;

    .dropdown-icon {
      cursor: pointer;
      background-color: #fff;
      border: none;

      &:focus,
      &:hover {
        outline: none;
      }

      svg {
        fill: #bfbfbf;
        width: 14px;
        margin-left: 8px;
        cursor: pointer;

        &:hover {
          fill: rgba(0,0,0,.4);
        }
      }

      &--active {
        svg {
          fill: $clr-main-blue;

          &:hover {
            fill: #006DE3;
          }
        }
      }
    }
  }

  @media (max-width: $max-mobile) {
    table {
      width: 100%;
      max-width: 300px;
    }

    table caption {
      font-size: 14px;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      display: block;

      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }

    table td {
      display: flex;
      font-size: 13px;
      justify-content: space-between;
    }

    table .colors {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 100%;
      max-width: 140px;
      text-align: end;
    }

    table td::before {
      content: attr(data-label);
      font-weight: bold;
      color: $clr-blue-dark;
    }
  }
}

.table-dropdown {
  font-weight: normal;
  margin-top: 9px;
  background-color: #fff;
  position: absolute;
  min-width: 120px;
  box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);

  &__content {
    padding: 7px;
  }

  &__footer {
    border-top: 1px solid #F5F6F8;
    padding: 7px;
  }

  &__reset-btn {
    cursor: pointer;
    padding: 2px 8px;
    font-family: Roboto, sans-serif;
    border: none;
    background-color: #fff;
    color: #1890FF;

    &:focus,
    &:hover {
      outline: none;
      color: #40a9ff;
    }

    &:disabled {
      color: $clr-gray-dark;

      &:focus,
      &:hover {
        color: $clr-gray-dark;
      }
    }
  }

  &__submit-btn {
    cursor: pointer;
    padding: 2px 8px;
    color: #fff;
    font-family: Roboto, sans-serif;
    border: none;
    background-color: $clr-main-blue;
    border-radius: 2px;

    &:focus,
    &:hover {
      outline: none;
      box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
    }

  }
}