@import "../../../assets/variables";

.cars-table {
  padding: 4px 14px 7px 14px;

  @media (max-width: $max-mobile) {
    padding: 7px;
  }

  &__header-filter {
    max-width: 300px;
    margin: 0 auto;
    justify-content: space-between;
    display: none;

    @media (max-width: $max-mobile) {
      display: flex;
    }
  }

  &__content {
    margin: 7px 0;
    display: flex;
    justify-content: center;
  }

  table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  table caption {
    font-size: 14px;
    margin: .5em 0 .75em;
  }

  table tr {
    padding: .35em;
    border: 1px solid #fff;
  }

  tbody tr {
    &:nth-child(2n + 1) {
      background-color: #F9FAFC;
    }
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table td {
    color: #818EA3;
    font-size: 13px;
  }

  table th {
    font-size: 14px;
  }

  @media (max-width: $max-mobile) {
    table {
      width: 100%;
      max-width: 300px;
    }

    table caption {
      font-size: 14px;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      display: block;

      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }

    table td {
      display: flex;
      font-size: 13px;
      justify-content: space-between;
    }

    table .colors {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 100%;
      max-width: 140px;
      text-align: end;
    }

    table td::before {
      content: attr(data-label);
      font-weight: bold;
      color: $clr-blue-dark;
    }
  }
}
